.addCaption__header {
    display: flex;
    justify-content: space-between;
    /* background-color: aliceblue; */
    padding: 20px;
}

.addCaption__headerLeft {
    display: flex;
    color: skyblue;
}

.addCaption__headerLeft > p {
    margin-left: 10px;
    margin-top: 2px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.addCaption__headerRight {
    display: flex;
}

.addCaption__headerRight > p {
    margin-right: 10px;
    margin-top: 2px;
    color: skyblue;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.addCaption__container {
    display: flex;
    background-color: rgb(38, 38, 38);
    justify-content: space-evenly;
    padding-top: 5px;
    padding-bottom: 5px;
}

.addCaption__container > textarea {
    width: 75%;
    height: 88px;
    border: 1px solid white;
    background-color: transparent;
    border-radius: 5px;
    padding: 10px;
    color: white;
}

.addCaption__ptag > p {
    border: 1px solid black;
    padding: 10px;
    margin-top: 8px;
    border-radius: 5px;
    border: 1px solid white;
    color: white;
}