.audio {
    height: 30vh;
    background-color: #474747;
}

.audio__header {
    padding: 20px;
    display: flex;
    justify-content: space-between;
}

.audio__headerLeft {
    display: flex;
}

.audio__headerLeft > p {
    margin-left: 25px;
    color: white;
    font-weight: 500;
    font-size: 15px;
}

.activep {
    padding: 8px;
    border: 1px solid white;
    margin-top: -10px;
    border-radius: 5px;
}

.audio__contentTop {
   border-top: 1px solid gray;
   border-bottom: 1px solid gray;
   border-left: 3px solid transparent;
}

.audio__contentTop:hover {
    border-left: 3px solid skyblue;
}

.audio__contentBottom {
    border-bottom: 1px solid gray;
    border-left: 3px solid transparent;
}

.audio__contentBottom:hover {
    border-left: 3px solid skyblue;
}

.audio__icons {
    color: white;
}

.audio__icons:hover {
    color: skyblue;
}

@media (max-width: 1200px) {
    
}

@media (max-width: 767px) {
    .audio__headerLeft > p {
        margin-left: 5px;
        margin-right: 5px;
    }
}
