.captionType {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border-bottom: 2px solid rgb(88, 88, 88);
}

.captionType:hover {
    cursor: pointer;
    background-color: rgb(56, 88, 100);
}

.captionType__content {
    display: flex;
}

.captionType__content > p {
    margin-left: 10px;
    color: white;
    font-weight: 500;
    font-size: 16px;
}