.header {
    background-color: #474747;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid rgb(88, 88, 88);
    color: white;
}

.header__right {
    display: flex;
}

.header__right > p {
    margin-left: 10px;
    margin-right: 10px;
    /* color: blue; */
    margin-top: -8px;
    padding: 10px;
    border-radius: 2px;
    font-weight: 500;
    font-size: 15px;
    cursor: pointer;
}

.active {
    background-color: skyblue;
    color: black;
}

.header__left {
    display: flex;
}

.header__left > h2 {
    margin-left: 15px;
    margin-top: -3px;
}

.subtitleIcon {
    color: skyblue;
}

@media (max-width: 767px) {
    .header {
        display: flex;
        flex-direction: column;
    }
    .header__right {
        display: flex;
        margin-top: 20px;
        justify-content: center;
    }
}

