.home {
    background-color: #474747;
}

.home__container {
    display: flex;
    border-bottom: 2px solid rgb(88, 88, 88);
}

.home__left {
    flex: 0.5;
    border-right: 2px solid rgb(88, 88, 88);
    overflow: scroll;
}

.home__right {
    flex: 0.5;
    background-color: rgb(38, 38, 38);
}

@media (max-width: 1200px) {
    .home__container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 767px) {
    .home__container {
        display: flex;
        flex-direction: column;
    }
}