.video__container {
    height: 45vh;
    background-color: transparent;
    margin-top: 25px;
}

.video > h5 {
    color: white;
    padding: 20px;
}

.video__checkbox {
    display: flex;
    padding-left: 20px;
    padding-bottom: 20px;
}

.video__checkbox > h4 {
    margin-top: 10px;
    color: white;
}